security:
  password_hashers:
    App\Entity\User: 'auto'

  providers:
    app_user_provider:
      entity:
        class: App\Entity\User
        property: email

  firewalls:
    dev:
      pattern: ^/(_(profiler|wdt)|css|images|js)/
      security: false

    main:
      lazy: true
      provider: app_user_provider
      form_login:
        login_path: app_login
        check_path: app_login
        enable_csrf: true
      logout:
        path: app_logout
        target: homepage

  access_control:
    - { path: ^/connexion, roles: PUBLIC_ACCESS }
    - { path: ^/inscription, roles: PUBLIC_ACCESS }
    - { path: ^/mot-de-passe-oublie, roles: PUBLIC_ACCESS }
    - { path: ^/reinitialisation-mot-de-passe, roles: PUBLIC_ACCESS }
    - { path: ^/contact, roles: PUBLIC_ACCESS }
    - { path: ^/assets, roles: PUBLIC_ACCESS }
    - { path: ^/famille, roles: ROLE_USER }
    - { path: ^/calendrier, roles: ROLE_USER }
    - { path: ^/profil, roles: ROLE_USER }
    - { path: ^/administration, roles: ROLE_ADMIN }
