parameters:
  locale: 'fr'
  app.mail_from: 'contact@tribuconnect.fr'

services:
  _defaults:
    autowire: true
    autoconfigure: true

  App\:
    resource: '../src/'
    exclude:
      - '../src/DependencyInjection/'
      - '../src/Entity/'
      - '../src/Kernel.php'

  App\Service\VisitCounter:
    arguments:
      $redisUrl: '%env(REDIS_URL)%'
