{% extends 'base.html.twig' %}

{% block title %}Contact • TribuConnect{% endblock %}

{% block body %}
  <h1>Contact</h1>
  <form method="post" autocomplete="off">
    <input type="hidden" name="_token" value="{{ csrf_token('contact_form') }}">
    <input type="text" name="website" value="" style="display:none" tabindex="-1" autocomplete="off">
    <label>Votre email
      <input type="email" name="email" required>
    </label>
    <label>Message
      <textarea name="message" rows="6" required></textarea>
    </label>
    <button type="submit">Envoyer</button>
  </form>
{% endblock %}
